body{
background: rgba(252, 252, 235, 0.73);
}


table{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

td{
    width: 300px;
}


.csspt{
    margin-left: 80px;
/*    margin-right: auto;*/
}




.RWD{
    background: rgba(230, 118, 183, 0.94);
    width: 200px;
    text-align: center;
    font-size: 3em;
    font-family: serif;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 5px;
    
    text-shadow: 0 1px 0 #ccc, 

               0 2px 0 #c9c9c9,

               0 3px 0 #bbb,

               0 4px 0 #b9b9b9,

               0 5px 0 #aaa,

               0 6px 1px rgba(0,0,0,.1),

               0 0 5px rgba(0,0,0,.1),

               0 1px 3px rgba(0,0,0,.3),

               0 3px 5px rgba(0,0,0,.2),

               0 5px 10px rgba(0,0,0,.25),

               0 10px 10px rgba(0,0,0,.2),

               0 20px 20px rgba(0,0,0,.15);

    
    
}


.jq{
    margin-left: 15px;
}

.boostra{
    margin-left: 100px;
  
}



.bottom{
    text-align: center;
}



